.idea/
debug/
release/
Makefile
Makefile.Debug
Makefile.Release
*.user
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln
*.userprefs
.vs
*.obj
*.resources
*.cache
*.pdb
*.ldb
*.vcxproj
*.vcxproj.filters
*.resx
*.exe
*.exe.metagen
.idea/
debug/
release/
Makefile
Makefile.Debug
Makefile.Release
*.user
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln
*.userprefs
.vs
*.obj
*.resources
*.cache
*.pdb
*.ldb
*.vcxproj
*.vcxproj.filters
*.resx
*.exe
*.exe.metagen